@import 'tailwindcss';

@plugin "daisyui" {
  themes: light, dark;
}

.maplibregl-popup-close-button {
  @apply px-2;
}

.maplibregl-marker {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  content-visibility: auto;
  contain-intrinsic-size: 120px;
}

html[data-theme="dark"] {
  .maplibregl-popup-content {
    @apply dark:bg-gray-800 dark:text-white;
  }
  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
    @apply dark:border-t-gray-800;
  }
  .maplibregl-popup-anchor-top .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
    @apply dark:border-b-gray-800;
  }
  .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    @apply dark:border-r-gray-800;
  }
    .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    @apply dark:border-l-gray-800;
    }
}
